.hero {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .cv-btn {
        background: transparent;
        border: 1px solid white;
        padding: 0.5rem 1.5rem;
        color: white;
        border-radius: 5px;
        margin-bottom: 1.5rem;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: #303030;
        }
    }

    h1 {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
        margin: 0;

        .highlight {
            color: #ffffbf;
            font-size: 4 rem;
        }

        .name {
            color: #ffffff;
            font-size: 5.5rem;
        }

        .buttons2 {
            display: flex;
            gap: 1rem;
            justify-content: center;
            margin-bottom: 2rem;

            .btn {
                background-color: #007bff;
                color: white;
                padding: 0.6rem 1.2rem;
                border-radius: 5px;
                text-decoration: none;
                width: 200px;
                transition: background 0.3s ease;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }

    }
    .tech-icons {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;

  img {
    height: 40px;
    filter: brightness(1.1);
  }

}

.subtitle {
  color: #f0f0f0;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;

  .btn {
    background-color: #007bff;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}


}