  <section class="hero">
    <button class="cv-btn">Descargar CV</button>
    <h1><span class="highlight">Software Developer</span><br /><span class="name">Rubén Vizcaíno</span></h1>
    <p class="subtitle">Full Stack Angular & Spring Boot</p>
    <div class="buttons">
      <a class="btn" href="www.linkedin.com/in/ruben-vizcaino-8843a72a0" target="_blank">LinkedIn →</a>
      <a class="btn" href="https://github.com/RubenVizcaino" target="_blank">GitHub →</a>
    </div>
    <div class="tech-icons">
      <img src="angular.svg" />
      <img src="typescript.svg" />
      <img src="java.svg" />
      <img src="springboot.svg" />
    </div>
  </section>