  <section class="projects" id="proyectos">
    <h2 class="section-heading">PROYECTOS</h2>

    <div class="project-container">
      <div class="project-text">
        <h3 class="project-title">
          <a class="project-button" href="https://frontend-git-dev-vizkiis-projects.vercel.app" target="_blank">
            Ecommerce Fullstack Template
          </a>
        </h3>
        <p class="project-description">
          Proyecto base e-commerce con arquitectura limpia: Angular en el frontend,
          Spring Boot + JPA + MariaDB en el backend, y Lombok para simplificar el modelo de datos.
          Basado en patrón Controller–Service–Repository para mantener la separación de responsabilidades.
          Contectado a una API REST para operaciones CRUD.
        </p>
      </div>
      <div class="project-image">
        <img src="FrontTemplateShop.png" alt="Frontend de la App" />
      </div>
    </div>
    <div class="project-container reverse">
      <div class="project-image">
        <img src="" alt="Siguiente Proyecto" />
      </div>
      <div class="project-text">
        <h3 class="project-title">Siguiente Proyecto</h3>
        <p class="project-description">
          Pensando ideas...
        </p>
      </div>
    </div>
  </section>